@keyframes jobs {
   0%{content: "D|";} 
   1%{content: "De|";} 
   2%{content: "Dev|";} 
   3%{content: "Deve|";} 
   4%{content: "Devel|";} 
   5%{content: "Develo|";} 
   6%{content: "Develop|";} 
   7%{content: "Develope|";} 
   8%{content: "Developer|";} 
   13%{content: "Develope|";} 
   14%{content: "Develop|";} 
   15%{content: "Develo|";} 
   16%{content: "Devel|";} 
   17%{content: "Deve|";} 
   18%{content: "Dev|";} 
   19%{content: "De|";} 
   20%{content: "D|";} 
   21%{content: "|";} 
   22%{content: "F|";} 
   23%{content: "Fr|";} 
   24%{content: "Fre|";} 
   25%{content: "Free|";} 
   26%{content: "Freel|";} 
   27%{content: "Freela|";} 
   28%{content: "Freelan|";} 
   29%{content: "Freelanc|";} 
   30%{content: "Freelance|";} 
   31%{content: "Freelancer|";} 
   36%{content: "Freelance|";} 
   37%{content: "Freelanc|";} 
   38%{content: "Freelan|";} 
   39%{content: "Freela|";} 
   40%{content: "Freel|";} 
   41%{content: "Free|";} 
   42%{content: "Fre|";} 
   43%{content: "Fr|";} 
   44%{content: "F|";} 
   45%{content: "|";} 
   46%{content: "D|";} 
   47%{content: "De|";} 
   48%{content: "Des|";} 
   49%{content: "Desi|";} 
   50%{content: "Desig|";} 
   51%{content: "Design|";} 
   52%{content: "Designe|";} 
   53%{content: "Designer|";} 
   58%{content: "Designe|";} 
   59%{content: "Design|";} 
   60%{content: "Desig|";} 
   61%{content: "Desi|";} 
   62%{content: "Des|";} 
   63%{content: "De|";} 
   64%{content: "D|";} 
   65%{content: "|";} 
   66%{content: "P|";} 
   67%{content: "Ph|";} 
   68%{content: "Pho|";} 
   69%{content: "Phot|";} 
   70%{content: "Photo|";} 
   71%{content: "Photog|";} 
   72%{content: "Photogr|";} 
   73%{content: "Photogra|";} 
   74%{content: "Photograp|";} 
   75%{content: "Photograph|";} 
   76%{content: "Photographe|";} 
   77%{content: "Photographer|";} 
   80%{content: "Photographe|";} 
   81%{content: "Photograph|";} 
   82%{content: "Photograp|";} 
   83%{content: "Photogra|";} 
   84%{content: "Photogr|";} 
   85%{content: "Photog|";} 
   86%{content: "Photo|";} 
   87%{content: "Phot|";} 
   88%{content: "Pho|";} 
   89%{content: "Ph|";} 
   90%{content: "P|";} 
   100%{content: "|";} 
}